<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EquipManage.Properties.Settings.PROYECTO_INTEGRADOR_5ConnectionString"
            connectionString="Data Source=HOMERO_JPC;Initial Catalog=PROYECTO_INTEGRADOR_5;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="EquipManage.Properties.Settings.PROYECTO_INTEGRADOR_5ConnectionString1"
            connectionString="Data Source=HOMERO_JPC;Initial Catalog=PROYECTO_INTEGRADOR_5;User ID=sa;Password=12345678;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>